In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns #for visulizaytion
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split # for holdout method
%matplotlib inline

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/omgo101/dataset-project/main/Toyoto_Corrola.csv')

In [3]:
df.head()

,Id,Model,Price,Age_08_04,KM,HP,Doors,Cylinders,Gears,Weight
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,46986,90,3,4,5,1165
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,72937,90,3,4,5,1165
2,3,ÊTOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,41711,90,3,4,5,1165
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,48000,90,3,4,5,1165
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,38500,90,3,4,5,1170

In [4]:
#selecting coloumns that we need
df1 = df.loc[:,['Price','Age_08_04','HP','Doors','Gears','Weight']]

In [5]:
df1.corr()

              Price  Age_08_04        HP     Doors     Gears    Weight
Price      1.000000  -0.876590  0.314990  0.185326  0.063104  0.581198
Age_08_04 -0.876590   1.000000 -0.156622 -0.148359 -0.005364 -0.470253
HP         0.314990  -0.156622  1.000000  0.092424  0.209477  0.089614
Doors      0.185326  -0.148359  0.092424  1.000000 -0.160141  0.302618
Gears      0.063104  -0.005364  0.209477 -0.160141  1.000000  0.020613
Weight     0.581198  -0.470253  0.089614  0.302618  0.020613  1.000000

In [ ]:
sns.pairplot(df1)

In [ ]:
sns.relplot(x='Price',y='Age_08_04',data=df)

In [ ]:
#applied loop in df.columns to get relation plot for all columns
for a in df1.columns:
    sns.relplot(x='Price',y=a,data=df)

In [ ]:
x = df[['Age_08_04','Weight']]
y = df['Price']

In [ ]:
#spliting data into training and testing
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 10) #random state will select same everytime we eun

In [ ]:
reg = LinearRegression()

In [ ]:
reg.fit(x_train,y_train)

In [ ]:
reg.predict(x_test) #predicting data 30% that we split

In [ ]:
#checking accuracy
acc = reg.score(x_test,y_test)
acc = acc*100
print(round(acc,0),'%')